.product-card {
  width: 300px;
  height: 500px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 24px 14px;
  margin: 12px 30px;
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: center;
}

.product-card:hover {
  width: 300px;
  height: 500px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 24px 14px;
  margin: 12px 30px;
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}

.product-card__image {
  width: 240px;
  height: 240px;
  align-self: center;
}

.product-card__title {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.product-card__old-price {
  font-weight: 500;
  font-size: 17px;
  text-decoration-line: line-through;
  color: #B5B5B6;
}

.product-card__sale-price {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #DA4B4F;
}

.product-card__payment {
  font-weight: 500;
  font-size: 12px;
  color: #848587;
}

.product-card__payment > b {
  color: #000;
}

.product-card__prices-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card__prices-container > p {
  margin: 1px 0
}

.product-card__title-container, .product-card__prices-container {
  width: 90%;
}

.product-card__image-container {
  position: relative
}

.product-card__wishlist-button {
  position: absolute;
  right: 0;
  top: 2.5px
}